if TARGET_AM335X_TRAILMARK_GREEN

config SYS_BOARD
	default "Trailmark Green"

config SYS_VENDOR
	default "Mestek Inc"

config SYS_SOC
	default "am33xx"

config SYS_CONFIG_NAME
	default "trailmark_green"

endif
